.scale-video {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -0.75px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 28.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #159736;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #00003e, 0px 0px 0px #000058;
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 27px;
  width: 17px;
  border-radius: 0px;
  background: #00ff47;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #159736;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 28.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #159736;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #00003e, 0px 0px 0px #000058;
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 27px;
  width: 17px;
  border-radius: 0px;
  background: #00ff47;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 28.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #073011;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #159736;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #00003e, 0px 0px 0px #000058;
  border: 0px solid rgba(0, 30, 0, 0.57);
  width: 17px;
  border-radius: 0px;
  background: #00ff47;
  cursor: pointer;
  height: 27px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #159736;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3de468;
}
