<!--<div style="padding:56.25% 0 0 0;position:relative;">-->
<!--  <iframe src="https://player.vimeo.com/video/335420254?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1"-->
<!--          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay"></iframe>-->
<!--</div>-->
<!--<script src="https://player.vimeo.com/api/player.js"></script>-->

<a (click)="playpause()">{{button}}</a>
<input #seekbar type="range" step="any" id="seekbar" min="0" max="100" (change)="changeTheTime()">
<label id="lblTime">{{time}}</label>
<br>

<video #video src="../../../assets/video/bbb.mp4" width="384" height="288"></video>

<div class="exit-button">
  <a [routerLink]="['/']">Exit</a>
</div>
