<p align="center">PolynarCorp&#8482; unified operating system<br>
  copyright &#169; 2075-2077 PolynarCorp&#8482; industries</p>
<div class="ascii-art-container">
      <pre class="ascii-art">
_______________________  ______   ________________     _______________________________
___  __ \_  __ \__  /_ \/ /__  | / /__    |__  __ \    __  ____/_  __ \__  __ \__  __ \&#8482;
__  /_/ /  / / /_  / __  /__   |/ /__  /| |_  /_/ /    _  /    _  / / /_  /_/ /_  /_/ /
_  ____// /_/ /_  /___  / _  /|  / _  ___ |  _, _/     / /___  / /_/ /_  _, _/_  ____/
/_/     \____/ /_____/_/  /_/ |_/  /_/  |_/_/ |_|      \____/  \____/ /_/ |_| /_/

</pre>
  <br>50 4F 4C 59 4E 41 52  43 4F 52 50
</div>
<br>
<div class="links">
  <ul>
    <li>
      <a routerLink="/terminal">Terminal</a></li>
    <li>
      <a routerLink="/pwcrack">PW Crack</a>
    </li>
    <li>
      <a routerLink="/videoplayer">Video Player</a>
    </li>
    <li>
      <a href="#" (click)="shutdown()">Shutdown</a>
    </li>
  </ul>

</div>


